@media (min-width: 740px) and (max-width: 1023px) {
    
    #content .content-section{
        flex-direction: column;
    }
    .content-section .section-img,
    .content-section .about-content,
    .content-section .menu-item,
    #content .contact-section{
        width: 100%;
        padding: 12px 40px;
    }
    #content .list-menu{
        text-align: center;
    }
    #content .contact-section{
        padding: 64px 37px;
    }
    

}
@media (max-width : 740px){
    #content .content-section{
        flex-direction: column;
    }
    .content-section .section-img,
    .content-section .about-content,
    .content-section .menu-item,
    #content .contact-section{
        width: 100%;
        padding: 12px 40px;
    }
    #content .list-menu{
        text-align: center;
        padding: 0 20px;
        margin-bottom: -30px;
    }
    #content .contact-section{
        padding: 64px 37px;
    }
    #nav{
        text-align: center;
        flex-direction: column;
    }
    .nav-right{
        justify-content: center;
    }
}
