/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
1.vị trí
2.kích thước
3.màu sắc
4.kiểu dáng
*/
/* 
1.từ ngoài vào trong
2.từ trên xướng dưới
3.tổng quan đến chi tiết

*/
/* common */
html {
    font-family:'Times New Roman', Times, serif ;
    scroll-behavior: smooth;
}
.res-heading{
    font-family:'Playfair Display';
    letter-spacing: 5px;
    font-weight: 400;
}
.text-para{
    text-align: center;
}
#main{
    
}

#header{
    cursor: pointer;
    background-color: white;
    height: 54.5px;
    padding: 8px 16px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#nav {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#nav .nav-left {
    order: 1; /* Đảm bảo logo ở bên trái */
}

#nav .nav-right {
    order: 2; /* Đảm bảo các mục khác ở bên phải */
    display: flex;
    list-style-type: none;
}

#nav li a {
    font-size: 15px;
    text-decoration: none;
    color: black;
    line-height: 38.5px;
    padding: 0 16px;
    letter-spacing: 4px;
}
#nav li:hover {
    background-color: #ccc;
}
.height-line{
    line-height: 1.5;
}


#slider{
    margin-top: 54.5px;
    padding-top: 50%;
    background-image: url("/image/hamburger.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    position: relative;
}
#slider .res-name{
    position: absolute;
    bottom: 30px;
    padding: 0 24px;
    opacity: 0.6;
}
#slider .res-name .text-name{
    font-size: 36px;
}
#content .content-section{
    padding: 70px 0;
    display: flex;
    justify-content:space-between;
    width: 80%;
    margin: auto;
}
hr{
    border-top: 1px solid #eee;
    margin: 10px 100px;
}
.content-section .section-img{
    max-width: 100%;
    opacity: 0.75;
    border-radius: 27px;
    min-width: 43%;
    /* padding: 20px 40px; */
}
.content-section .about-content {
    padding: 20px 40px;
    min-width: 50%;
    text-align: center;
    /* flex: 1; */
}
#content .section-heading{
    margin-bottom: 61px;
    margin-top: 10px;
    font-size: 36px;
}
#content .section-title{
    font-size: 18px;
    margin: 10px 0;
}
#content .section-history{
    margin: 18px 0;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}
#content .section-history .unique{
    background-color: #f1f1f1;
    padding: 4px 8px;
}
#content .section-spanish{
    margin: 18px 0;
    font-size: 18px;
    opacity: 0.6;
    text-align: justify;
    line-height: 1.5;
}

.content-section .menu-body{
   min-width: 50%;
 
}
.content-section .menu-img .menu-item{
    min-width: 50%;
    max-width: 100%;
    padding: 0 40px;
}

.menu-body .menu-heading{
    margin-top: 10px;
    margin-bottom: 57px;
    font-size: 36px;
    text-align: center;
}
.menu-body .menu-disk{
    font-size: 20px;
    margin: 10px 0;
}
.menu-body .menu-detail{
    font-size: 15px;
    color: #757575;
    margin-top: 15px;
    margin-bottom: 57px;
}
#content .contact-section{
    padding: 64px 0;
    margin: auto;
    width: 80%;
}
.contact-content .contact-heading{
    font-size: 36px;
    margin-bottom: 55px;
}
.contact-content .contact-para{
    font-size: 15px;
    margin: 15px 0;
}
.contact-content .contact-address{
    font-size: 18px;
    margin: 15px 0;
    color: #607d8b;
    font-weight: bolder;
}
.contact-form .form-control{
    font-size: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 19px 8px ;
    margin: 15px 0;
} 
.contact-form .form-submit{
    cursor: pointer;
    font-size: 15px;
    padding: 15px 16px;
    margin: 15px 0;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    background-color: #f1f1f1;
}
#footer{
 
    padding: 32px 0;
    background-color: #f1f1f1;
} 
#footer .copyright{
    text-align:center ;
    margin: 15px 0;
}
